@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    @font-face {
        font-family: Avenir-black;
        src: url("./assets/fonts/Avenir-black.otf");
    }

    @font-face {
        font-family: Avenir-Book;
        src: url("./assets/fonts/Avenir-Book.otf");
    }

    @font-face {
        font-family: sf-compact-display-medium;
        src: url("./assets/fonts/sf-compact-display-medium.otf");
    }

    @font-face {
        font-family: sf-compact-display-thin;
        src: url("./assets/fonts/sf-compact-display-thin.otf");
    }
}